h1
{
  margin: 5px 0 5px 10px;
}
#json_formatter
{
  float: left;
  margin-left: 10px;
}
.field_group.top_group
{
  width: 500px;
}

#json_formatter .field
{
  max-width: 480px;
  margin-top: 0;
}
#json_formatter .field textarea
{
  max-width: 480px;
}
.submit_group
{
  margin-top: 52px;
}

.json_formatter_output
{
  clear: left;
  box-sizing: border-box;
  width: 1280px;
  background-color: white;
  height: 500px;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  overflow: scroll;
  float: left;
  /*clear: left;*/
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: black; }
